pandas
numpy
seaborn
matplotlib
opendatasets
scipy
missingno
plotly
nbformat>=4.2.0
statsmodels
sklearn
scikit-learn
xgboost
shap
dill

# -e . install at the end so packages are not rebuilt everytime installer runs